{% extends 'layouts/base.html' %}

{% load static %}

{% block navigation %}
<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between py-3 px-3 bg-light rounded-3">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Transactions Assessment </h3>
                <div class="nk-block-des text-soft">
               
                </div>
            </div>
            <ul class="nk-block-tools g-3">
                    <a href="{% url 'stock_list' %}"  class="btn btn-white btn-dim btn-outline-light mx-1">Back</a>
            </ul>
        
</div>
{% endblock %}

{% block content %}

<div class="nk-block nk-block-lg my-2">
    <div class="card card-bordered card-preview">
        <div class="card-inner">
            <table class="datatable-init-export nowrap table" data-export-title="Export">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Stock</th>
                        <th>Movement Type</th>
                        <th>User</th>
                        <th>Prev Quantity</th>
                        <th>Quantity</th>
                        <th>Remaining Quantity</th>
                        <th>Status</th>
                        <th>Created</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for movement in movements %}
                    <tr>
                      
                        <td>{{ movement.name }}</td>
                        <td  data-bs-toggle="tooltip" data-bs-placement="top" title="{{ movement.status_comment }}"><a href="{% url 'assessment_detail' movement.pk %}">{{ movement.stock }}</a></td>
                        <td>{{ movement.movement_type }}</td>
                        <td>{{ movement.user }}</td>
                        <td>{{ movement.previous_quantity }}</td>
                        <td>{{ movement.movement_quantity }}</td>
                        <td>{{ movement.current_quantity }}</td>
                        <td>{{ movement.movement_status }}</td>
                        <td>{{ movement.created }}</td>

                        
                    </tr> 

                    
                     {% endfor %}             
                    
                </tbody>
                   
            </table>
        </div>
    </div><!-- .card-preview -->
</div> <!-- nk-block -->


{% endblock %}