{% extends 'layouts/base.html' %}

{% load static %}

{% block navigation %}
<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between py-3 px-3 bg-light rounded-3">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Invoice Details</h3>
                <div class="nk-block-des text-soft">
                    Invoice - {{ invoice }}
                </div>
                <div class="nk-block-des text-soft">
                    Customer - {{ invoice.customer_name }}
                </div>
                <div class="nk-block-des text-soft">
                    Description - {{ invoice.description }}
                </div>
                <div class="nk-block-des text-soft">
                   Customer Contact - {{ invoice.customer_contact }}
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="btn btn-primary" data-bs-toggle="dropdown"><span>Actions</span><em class="icon ni ni-chevron-down"></em></a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-auto mt-1  btn-white btn-dim bg-outline-light mx-1">
                    <ul class="link-list-plain">
                        <li><a href="{% url 'invoice_list' %}">Back</a></li>
                        
                    </ul>
                </div>
            </div>
            
</div>
{% endblock %}

{% block content %}

<div class="nk-block nk-block-lg my-2">
    <div class="card card-bordered card-preview">
        <div class="card card-header">Invoice Items </div>
        <div class="card-inner">
            <table class="datatable-init-export nowrap table" data-export-title="Export">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Created</th>
                       
                    </tr>
                </thead>
                <tbody>
                    {% for item in invoice.invoice_items.all %}
                    <tr>
                        <td>{{ item }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>${{ item.unit_price|floatformat:2 }}</td>
                        <td>{{ item.created }}</td>
                    </tr> 

                    

                    
                    {% endfor %}
                    <tr class='bg-lighter'>
                        <td class='font-weight-bold text-success'>Total</td>
                        <td></td>
                        <td>{{ item.created }}</td>
                        <td>${{ invoice.total_amount|floatformat:2 }}</td>
                    </tr>        
                    
                </tbody>
                   
            </table>
        </div>
    </div><!-- .card-preview -->
</div> <!-- nk-block -->


{% endblock %}