{% load custom_filters %}
{% load static %}

<div class="nk-sidebar nk-sidebar-fixed" data-content="sidebarMenu">
  <div class="nk-sidebar-element nk-sidebar-head">
    <div class="nk-sidebar-brand">
      <a href="html/index.html" class="logo-link nk-sidebar-logo">
        <h4>Auth</h4>
      </a>
    </div>
    <div class="nk-menu-trigger me-n2">
      <a
        href="#"
        class="nk-nav-toggle nk-quick-nav-icon d-xl-none"
        data-target="sidebarMenu"
        ><em class="icon ni ni-arrow-left"></em
      ></a>
    </div>
  </div>
  <!-- .nk-sidebar-element -->
  <div class="nk-sidebar-element">
    <div class="nk-sidebar-body" data-simplebar>
      <div class="nk-sidebar-content">
        <div class="nk-sidebar-menu">
          <ul class="nk-menu">
            <li class="nk-menu-item">
              <a href="{%url 'dashboard' %}" class="nk-menu-link">
                <span class="nk-menu-icon"
                  ><em class="icon ni ni-growth"></em
                ></span>
                <span class="nk-menu-text">Home</span>
              </a>
            </li>
            {%  if request.user|has_role:"Inventory" or request.user|has_role:"Admin" %}
            <li class="nk-menu-item">
              <a href="{% url 'stock_list' %}" class="nk-menu-link">
                <span class="nk-menu-icon">
                  <em class="icon ni ni-user-list"></em>
                </span>
                <span class="nk-menu-text">Stock</span>
              </a>
            </li>

            {% endif %}
            {% if request.user|has_role:"Job Card" or request.user|has_role:"Admin"  %}
            <li class="nk-menu-item">
              <a href="{% url 'job_card_list' %}" class="nk-menu-link">
                <span class="nk-menu-icon">
                  <em class="icon ni ni-user-list"></em>
                </span>
                <span class="nk-menu-text">Job Cards</span>
              </a>
            </li>
            {% endif %}
            {% if request.user|has_role:"Sales" or request.user|has_role:"Admin"  %}
            <li class="nk-menu-item">
              <a href="{% url 'invoice_list' %}" class="nk-menu-link">
                <span class="nk-menu-icon">
                  <em class="icon ni ni-user-list"></em>
                </span>
                <span class="nk-menu-text">Invoices</span>
              </a>
            </li>
            {% endif %}
            {% if request.user|has_role:"Admin"  %}
            <li class="nk-menu-item">
              <a href="{% url 'assessment_list' %}" class="nk-menu-link">
                <span class="nk-menu-icon">
                  <em class="icon ni ni-user-list"></em>
                </span>
                <span class="nk-menu-text">Assessment</span>
              </a>
            </li>
           
             <li class="nk-menu-item">
              <a href="{% url 'users-index' %}" class="nk-menu-link">
                <span class="nk-menu-icon">
                  <em class="icon ni ni-user-list"></em>
                </span>
                <span class="nk-menu-text">Users</span>
              </a>
            </li>
            <li class="nk-menu-item">
              <a href="{% url 'group_list' %}" class="nk-menu-link">
                <span class="nk-menu-icon">
                  <em class="icon ni ni-user-list"></em>
                </span>
                <span class="nk-menu-text">Groups</span>
              </a>
            </li>
            {% endif %}
          </ul>
          <!-- .nk-menu -->
        </div>
        <!-- .nk-sidebar-menu -->
      </div>
      <!-- .nk-sidebar-content -->
    </div>
    <!-- .nk-sidebar-body -->
  </div>
  <!-- .nk-sidebar-element -->
</div>
