{% extends 'layouts/base.html' %}

{% load static %}

{% block navigation %}
<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between py-3 px-3 bg-light rounded-3">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Add Items For {{ invoice }}</h3>
                <div class="nk-block-des text-soft">
               
                </div>
            </div>
            <ul class="nk-block-tools g-3">
                <a href="{% url 'invoice_list' %}"  class="btn btn-white btn-dim btn-outline-light mx-1">Back</a>
            </ul>
        
</div>
{% endblock %}

{% block content %}

<div class="card-inner border border-light rounded my-3">
    <form method="Post">
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-md-6">
                <label class="form-label" for="cf-full-name">Select Stock</label>
               {{ form.product }}
            </div>
            <div class="form-group col-md-6">
                <label class="form-label" for="cf-email-address">Quantity</label>
                <input type="number" min=0 name="{{ form.quantity.name }}" class="form-control" id="cf">
                <input type="hidden" name="{{ form.invoice.name }}" value='{{ invoice.pk }}' class="form-control" id="cf-full-name">

            </div>
        </div>
        
        
        <div class="form-group my-2">
            <button type="submit" class="btn btn-lg btn-primary">Add To Invoice</button>
        </div>
    </form>
</div>

<div class="nk-block nk-block-lg my-2">
    <div class="card card-bordered card-preview">
        <div class="card card-header">Invoice Items </div>
        <div class="card-inner">
            <table class="datatable-init-export nowrap table" data-export-title="Export">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Created</th>
                       
                    </tr>
                </thead>
                <tbody>
                    {% for item in invoice.invoice_items.all %}
                    <tr>
                        <td>{{ item }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>${{ item.unit_price|floatformat:2 }}</td>
                        <td>{{ item.created }}</td>
                    </tr> 

                    

                    
                    {% endfor %}
                    <tr class='bg-lighter'>
                        <td class='font-weight-bold text-success'>Total</td>
                        <td></td>
                        <td>{{ item.created }}</td>
                        <td>${{ invoice.total_amount|floatformat:2 }}</td>
                    </tr>        
                    
                </tbody>
                   
            </table>
        </div>
        <div class="form-group my-2 mx-2">
            <a href="{% url 'invoice_list' %}" class="btn btn-lg btn-light">Save Invoice</a>
        </div>
    </div><!-- .card-preview -->

</div>
{% endblock %}