{% extends 'layouts/base.html' %}
{% load static%}

{% block navigation %}
<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between py-3 px-3 bg-light rounded-3">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Mail List</h3>
                <div class="nk-block-des text-soft">
                    <p>All Mail Lists</p>
                </div>
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
                <div class="toggle-wrap nk-block-tools-toggle">
                    <div class="toggle-expand-content" data-content="pageMenu">
                        <ul class="nk-block-tools g-3">                        
                            <li class="nk-block-tools-opt"><a href="{% url 'create-mail-list' %}" class="btn btn-white btn-dim btn-outline-light"><em class="icon ni ni-plus"></em><span>New Mail List</span></a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- .nk-block-head-content -->
        </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
{% endblock%}

{% block content%}
<div class="nk-block nk-block-lg">
    <div class="card card-bordered card-preview">
        <div class="card-inner">
            <table class="datatable-init-export nowrap table" data-export-title="Export">
             
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mail in object_list %}
                    <tr>
                        <td>{{mail.name}}</td>
                        <td>{{mail.description}}</td>
                        <td class="nk-tb-col nk-tb-col-tools">
                            <ul class="nk-tb-actions gx-1">
                                <li>
                                    <div class="drodown">
                                        <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a href="{% url 'add-recipient' mail.id %}"><em class="icon ni ni-user"></em><span>Add Recipient</span></a></li> 
                                                <li><a href="{% url 'mail-list-details' mail.pk %}"><em class="icon ni ni-eye"></em><span>Details</span></a></li>
                                                <li><a href="{% url 'update-mail-list' mail.pk  %}"><em class="icon ni ni-edit"></em><span>Update</span></a></li>
                                                </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>  
                    
                    {% endfor %}               
                </tbody>
                   
            </table>
        </div>
    </div><!-- .card-preview -->
</div> <!-- nk-block -->

{% endblock %}
