{% extends 'layouts/base.html' %}

{% load static %}

{% block navigation %}
<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between py-3 px-3 bg-light rounded-3">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Stock List</h3>
                <div class="nk-block-des text-soft">
               
                </div>
            </div>
            <ul class="nk-block-tools g-3">
                    <a href="{% url 'stock_create' %}"  class="btn btn-white btn-dim btn-outline-light mx-1">Add Stock</a>
            </ul>
        
</div>
{% endblock %}

{% block content %}

<div class="nk-block nk-block-lg my-2">
    <div class="card card-bordered card-preview">
        <div class="card-inner">
            <table class="datatable-init-export nowrap table" data-export-title="Export">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Remaining Quantity</th>
                        <th>Total Sales</th>
                        <th>Created</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                    <tr>
                        <td>{{ stock }}</td>
                        <td>{{ stock.category }}</td>
                        <td>{{ stock.quantity }}</td>
                        <td>{{ stock.total_sales }}</td>
                        <td>{{ stock.created }}</td>

                        <td class="nk-tb-col nk-tb-col-tools">
                            <ul class="nk-tb-actions gx-1">
                                <li>
                                    <div class="drodown">
                                        <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a data-bs-toggle="modal" data-bs-target="#modalStockMovement{{stock.pk}}" ><em class="icon ni ni-property-add"></em>Add Movement</a></li>
                                                <li><a href="{% url 'stock_update' stock.pk %}"><em class="icon ni ni-text-rich"></em><span>Update</span></a></li>
                                                <li><a data-bs-toggle="modal" data-bs-target="#modalStockAction{{stock.pk}}" class="text-danger"><em class="icon ni ni-trash text-danger"></em><span class='text-danger'>Delete</span></a></li>
                                             
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr> 

                    <div class="modal fade" id="modalStockMovement{{stock.pk}}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Add Movement To {{stock}}</h5>
                                    <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <em class="icon ni ni-cross"></em>
                                    </a>
                                </div>
                                <div class="modal-body">
                                    <form action="#" class="form-validate is-alter">
                                        <div class="form-group">
                                            <label class="form-label" for="full-name">Full Name</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" id="full-name" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="email-address">Email address</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" id="email-address" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="phone-no">Phone No</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" id="phone-no">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Communication</label>
                                            <ul class="custom-control-group g-3 align-center">
                                                <li>
                                                    <div class="custom-control custom-control-sm custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="com-email">
                                                        <label class="custom-control-label" for="com-email">Email</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="custom-control custom-control-sm custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="com-sms">
                                                        <label class="custom-control-label" for="com-sms">SMS</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="custom-control custom-control-sm custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="com-phone">
                                                        <label class="custom-control-label" for="com-phone">Phone</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="pay-amount">Amount</label>
                                            <div class="form-control-wrap">
                                                <input type="number" class="form-control" id="pay-amount">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-lg btn-primary">Save Informations</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer bg-light">
                                    <span class="sub-text">Modal Footer Text</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" tabindex="-1" id="modalStockAction{{stock.pk}}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body modal-body-lg text-center">
                                    <div class="nk-modal">
                                        <em class="nk-modal-icon icon-circle icon-circle-xxl icon ni ni-check-circle-cut ni ni-cross bg-success"></em>
                                        <h4 class="nk-modal-title">Permanently Re-Submit {{ quotation.quote_number}}!</h4>
                                          <div class="center">
                                              <span class='py-2'><a data-bs-dismiss="modal" class="btn btn-light">No</a></span>
                                              <span class='px-2'><a class="btn btn-success" href="#">Yes</a></span>
                                        </div>
                                    </div>
                                </div><!-- .modal-body -->
                            </div>
                        </div>
                    </div>
                    {% endfor %}             
                    
                </tbody>
                   
            </table>
        </div>
    </div><!-- .card-preview -->
</div> <!-- nk-block -->


{% endblock %}