{% extends 'layouts/base.html' %}
{% load static %}

{% block navigation %}
<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between py-3 px-3 bg-light rounded-3">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Smart Inventory Dashboard</h3>
                <div class="nk-block-des text-soft">
               
                </div>
            </div><!-- .nk-block-head-content -->
              
        </div>      
    </div>        <!-- .nk-block-head -->
</div>
{% endblock %}

{% block content %}


<div class="nk-content nk-content-fluid">
    <div class="container-xl wide-lg">
        <div class="nk-content-body">
            <div class="nk-block">
                <div class="card card-bordered">
                    <div class="card-aside-wrap">
                        <div class="card-content">
                            <div class="card-inner ">
                                <div class="nk-block">
                                    

                                    <div class="col-md-12">
                                        <div class="card card-bordered card-preview my-3">
                                            <div class="card-inner">
                                                <div class="card-head">
                                                    <h6 class="title"> Total Invoice Sales</h6>
                                                </div>
                                                <div class="nk-ck">
                                                    <div class="chartjs-size-monitor">
                                                        <div class="chartjs-size-monitor-expand"></div>
                                                        <div class="chartjs-size-monitor-shrink"></div>
                                                    </div>
                                                    <canvas class="line-chart chartjs-render-monitor" id="SalesChart" width="716" height="200"
                                                        style="display: block; height: 260px; width: 785px;"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-md-12">
                                        <div class="card card-bordered card-preview my-3">
                                            <div class="card-inner">
                                                <div class="card-head">
                                                    <h6 class="title">{{ current_year }} Total WorkShop Movements</h6>
                                                </div>
                                                <div class="nk-ck">
                                                    <div class="chartjs-size-monitor">
                                                        <div class="chartjs-size-monitor-expand"></div>
                                                        <div class="chartjs-size-monitor-shrink"></div>
                                                    </div>
                                                    <canvas class="line-chart chartjs-render-monitor" id="WorkshopChart" width="716" height="200"
                                                        style="display: block; height: 260px; width: 785px;"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="card card-bordered card-preview my-3">
                                            <div class="card-inner">
                                                <div class="card-head">
                                                    <h6 class="title">{{ current_year }} Top Movements</h6>
                                                </div>
                                                <div class="nk-ck">
                                                    <div class="chartjs-size-monitor">
                                                        <div class="chartjs-size-monitor-expand"></div>
                                                        <div class="chartjs-size-monitor-shrink"></div>
                                                    </div>
                                                    <canvas class="line-chart chartjs-render-monitor" id="topBarChart" width="716" height="200"
                                                        style="display: block; height: 260px; width: 785px;"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="card card-bordered card-preview my-3">
                                            <div class="card-inner">
                                                <div class="card-head">
                                                    <h6 class="title">{{ current_year }} Bottom Movements</h6>
                                                </div>
                                                <div class="nk-ck">
                                                    <div class="chartjs-size-monitor">
                                                        <div class="chartjs-size-monitor-expand"></div>
                                                        <div class="chartjs-size-monitor-shrink"></div>
                                                    </div>
                                                    <canvas class="line-chart chartjs-render-monitor" id="bottomBarChart" width="716" height="200"
                                                        style="display: block; height: 260px; width: 785px;"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>         
                            </div><!-- .card-aside-wrap -->
                        </div><!-- .card -->
                    </div><!-- .nk-block -->
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'assets/js/scripts.js?ver=3.1.1' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var salesData = {{ sales_data|safe }};
    var workshopData = {{ workshop_data|safe }};
    var topMovementData = {{ top_movement_data|safe }};
    var bottomMovementData = {{ bottom_movement_data|safe }};
    
    var topStockNames = topMovementData.map(entry => entry.stock_name);
    var topTotalMovements = topMovementData.map(entry => entry.total_movements);

    var bottomStockNames = bottomMovementData.map(entry => entry.stock_name);
    var bottomTotalMovements = bottomMovementData.map(entry => entry.total_movements);

    // Ensure data has values for all months (fill in zeros for missing months)
    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    
    // Create datasets for each category
    var invoiceValues = months.map(function (month) {
        return salesData[month] || 0;
    });

    var workshopValues = months.map(function (month) {
        return workshopData[month] || 0;
    });

    var movementtypeValues = months.map(function (month) {
        return workshopData[month] || 0;
    });

    // Create dataset objects
    var invoiceDataSet = {
        label: "Invoice Sales",
        data: invoiceValues,
        borderColor: '#6baafe', 
        backgroundColor: '#3342FF', 
        borderWidth: 1
    };

    var workshopDataSet = {
        label: "Workshop Usage",
        data: workshopValues,
        borderColor: '#6baafe', 
        backgroundColor: '#3342FF', 
        borderWidth: 1
    };

    // Get Canvas Element for Sales Chart
    var topMovementsChart = document.getElementById('topBarChart').getContext('2d')
    var bottomMovementsChart = document.getElementById('bottomBarChart').getContext('2d');
    var salesChartCanvas = document.getElementById('SalesChart').getContext('2d');
    var workshopChartCanvas = document.getElementById('WorkshopChart').getContext('2d');

    var barChart = new Chart(topMovementsChart, {
        type: 'bar',
        data: {
            labels: topStockNames,
            datasets: [{
                label: 'Total Movements',
                data: topTotalMovements,
                backgroundColor: 'skyblue'
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            legend: {
                display: false
            },
            title: {
                display: true,
                text: 'Top Stock Movements'
            }
        }
    });
    var barChart = new Chart(bottomMovementsChart, {
        type: 'bar',
        data: {
            labels: bottomStockNames,
            datasets: [{
                label: 'Total Movements',
                data: bottomTotalMovements,
                backgroundColor: 'skyblue'
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            legend: {
                display: false
            },
            title: {
                display: true,
                text: 'Bottom Stock Movements'
            }
        }
    });
    // Create Sales Chart with one dataset
    var salesChart = new Chart(salesChartCanvas, {
        type: 'line',
        data: {
            labels: months,
            datasets: [invoiceDataSet]  // Wrap the dataset in an array
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                    }
                }],
                xAxes: [{
                    display: true
                }]
            },
            elements: {
                line: {
                    tension: 0.4, // Adjust the tension for the desired saggy effect
                }
            }
        }
    });

    var workshopChart = new Chart(workshopChartCanvas, {
        type: 'line',
        data: {
            labels: months,
            datasets: [workshopDataSet]  // Wrap the dataset in an array
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                    }
                }],
                xAxes: [{
                    display: true
                }]
            },
            elements: {
                line: {
                    tension: 0.4, // Adjust the tension for the desired saggy effect
                }
            }
        }
    });
</script>

{% endblock %}